@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

@font-face { 
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto/Roboto-Medium.ttf');
}

@font-face { 
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto/Roboto-Bold.ttf');
}

@font-face { 
    font-family: 'Roboto-Regular';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}

@font-face { 
    font-family: 'Dosis-Regular';
    src: url('fonts/Dosis/Dosis-Regular.otf');
}

@font-face { 
    font-family: 'Dosis-Bold';
    src: url('fonts/Dosis/Dosis-Bold.otf');
}

@font-face { 
    font-family: 'Audrey-Regular';
    src: url('fonts/Audrey/Audrey-Normal.otf');
}




