@font-face { 
    font-family: 'Dosis-Regular';
    src: url('fonts/Dosis/Dosis-Regular.otf');
}

@font-face { 
    font-family: 'Dosis-Bold';
    src: url('fonts/Dosis/Dosis-SemiBold.otf');
}

@font-face { 
    font-family: 'Audrey-Regular';
    src: url('fonts/Audrey/Audrey-Normal.otf');
}




