@charset "utf-8";

@import url("fontawesome-4.5.0.min.css");
@import url("framework.css");
@import url("fonts.css");




/* Rows
---------------------------------------------------------------------------------------------------------------*/
.row0{color:#888888; background-color:#F6F6F6;}
.row1
{
	color:white; background-color:#888888;; 
	background-image:url("../../img/ikzelf_2.jpg");
    background-size: 100% 100%;
	height: -webkit-fill-available;
	min-height:600px;
	background-position: center;background-repeat: no-repeat;
    background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='hoofdbg.png', sizingMethod='scale')"; /* Voor IE*/
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='hoofdbg.png', sizingMethod='scale')";
}
.row11
{
	color:#888888; 
	min-height: -webkit-fill-available;
	/*background-image:url('achtergrondje.png')*/;
	background-color:white; background-size: 100%; 
	font-size: 1.3em; 
}

.row12{color:#888888; 
	background-color:#E5E5E5; background-size: 100%; 
	min-height: -webkit-fill-available;
	min-height:600px;}
.row13{color:#888; 
	background-color:white; background-size: 100%; }
.row2{color:white;
	 background-size: 100%; 
	 min-height: -webkit-fill-available;
	 min-height:600px;}
.row3{color:#888; background-color:#f1f1f1;}
.row4{color:#8A8A8A; background-color:#353535;}
.row5, .row5 a{color:#8A8A8A; background-color:#2A2A2A;}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{background:rgba(50,50,50,0.6);color:white; margin:0;}

#topbar .faico{margin-top:14px;}
#topbar .faico li{margin:0;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:100px 0; text-align:center;}

#header #logo{padding: 200px 0;}
#header #logo *{margin:0 0 10px; padding:0; line-height:1;}
#header #logo i{margin-bottom:30px;}
#header #logo h1{font-size:20px; letter-spacing:5px; text-transform:uppercase;}
#header #logo p{font-size:12px; text-transform:lowercase;}

#header #logo img{width:1em; margin-right: 10px;}

h2.header
{
	font-size:1.5rem; text-transform:uppercase; margin-left: 0%;text-align:center;
}

#design, #informatica, #overMij, #contact{
    display: block;
    height: 94px;
    margin-top: -94px;
    visibility: hidden;
}

/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{text-align:center;}

#pageintro *{margin:0; line-height:1;}
#pageintro .heading{margin-bottom:80px; font-size:4rem; text-transform:uppercase;}
#pageintro p{margin-bottom:15px; font-weight:900;}
/*
    color: #888888;
    /* background-image: url(achtergrondje.png);
    background-color: white;
    background-size: 100%;
    height: -webkit-fill-available;
    /* padding: 100px 0; 
    font-size: 1.3em;
    /* border-top: 3px solid #FFE14B;
    border-bottom: 3px solid #FFE14B;
*/

/* Intro Blocks
--------------------------------------------------------------------------------------------------------------- */
#introblocks{padding:50px 0 0;margin-top:50px;}

#introblocks *{margin:0; padding:0; line-height:1;}
#introblocks article{position:relative; padding:20px 0 30px 50px; overflow:hidden; z-index:0;}
#introblocks span{display:block; position:absolute; top:0; left:-30px; font-size:20rem; line-height:1;}
#introblocks i{margin-bottom:20px; font-size:36px;}
#introblocks .heading{margin-bottom:20px; text-transform:uppercase; margin-left:0;}
#introblocks p{margin-bottom:30px;}

/* Portfolio */
#Portfolio.heading{font-size:1.5rem; text-transform:uppercase; text-align:center; color: #888888}
.row3 ul a{color:#888888;}
.row3 ul a p{margin-top:5px;}


/* Content
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}
.container .content{}

.opacity{opacity:.6;}
.opacity:hover{opacity:1;}


.excerpt{position: relative;cursor:pointer;}
.excerpt:hover .overleg{opacity:1;}
.excerpt .personen{height:450px; width:100%;}
.excerpt  p{color: white!important;text-transform: uppercase;font-size: 20px;
  position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);}
.overleg{position: absolute;top: 0;bottom: 0;left: 0;right: 0;
  height: 100%;width: 100%;opacity: 0;background-color: rgba(50,50,50,0.5);}
.excerpt .excerpttxt{color:inherit; background-color:rgba(220,220,220,0.9);}



/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 20px;}

#footer .title{margin:0 0 50px 0; padding:0; font-size:1.2rem; text-transform:uppercase;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

button{border:1px solid;}/* Niet enkel voor footer */
#footer input{display:block; width:100%; padding:8px;}
button{padding:8px 18px 10px; text-transform:uppercase; font-weight:700; cursor:pointer;}

#footer .one_third{padding: 0 5px;}

/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:30px}
#copyright *{margin:0; padding:0;}

/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#FFFFFF; background-color:#2A2A2A; height:100%;}
a{color:#FFE14B;}
a:active, a:focus{background:transparent;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
input:focus, textarea:focus, *:required:focus{border-color:#FFE14B;}
.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}

.colouredborder{position:fixed;z-index: 20;}/* Same as the logo colour */
.colouredborder::before, .colouredborder::after{background-color:white;}/* Same as the logo shadow colour */


/* Header 
---------------------------------------------------------------------------------------------------------------*/
#header #logo *{color:inherit;    text-shadow: 1px 1px rgba(55,55,55,0.7);}
#header #logo i{color:#FFE14B; text-shadow:0 25px #E5E5E5;}/* Text shadow used to create a type of logo effect - not for shadow in this case */

/* Inleiding
---------------------------------------------------------------------------------------------------------------*/
.btn_over
{
	color:white;
}

/* Informatica row2
---------------------------------------------------------------------------------------------------------------*/
.wrapper.row2 ul{list-style-type: none;}
.wrapper.row2 ul li{padding: 5px; color:#ccc}

/* Medewerkers 
---------------------------------------------------------------------------------------------------------------*/
.row3 p,h6,i{color:#888888;}

/* Diensten 
---------------------------------------------------------------------------------------------------------------*/
.row12 p{margin: 0 100px; font-size: 1.3rem;}
/* Contact 
---------------------------------------------------------------------------------------------------------------*/
.wrappercontact{ display:block; width:100%;padding:0;}
.wrappercontact .smb{width: 50px; height:auto;}
.wrappercontact li{list-style: none;margin:7px;text-align: center; display:inline-block;}
.wrappercontact .smb:hover{transform: scale(1.2);}

#contact div.header{font-size:1.5em;}
input[type=text], select, textarea {width: 100%;padding: 12px;
    border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;
    margin-top: 6px;margin-bottom: 16px;resize: vertical;}
input[type=submit] {background-color: #4CAF50;color: white;
    padding: 12px 20px;border: none;border-radius: 4px;
    cursor: pointer;}
input[type=submit]:hover {background-color: #45a049;}
.container.form {border-radius: 5px;background-color: #f2f2f2;padding: 20px; width:70%;}
.container.form button{margin: 5px auto;}

/* Footer 
---------------------------------------------------------------------------------------------------------------*/
#footer .title{color:#FFFFFF;}
#footer .linklist li{border-color:#2A2A2A;}

#footer input, button{border-color:transparent;}
#footer input{color:#FFFFFF; background-color:#2A2A2A;}
#footer input:focus{border-color:#FFE14B;}
button{color:#FFFFFF; background-color:#FFE14B;}

/* Navigation 
---------------------------------------------------------------------------------------------------------------*/
#mainav li a{color:inherit;}#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#FFE14B; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#FFE14B;}

#mainav ul{text-transform:uppercase; text-align:center;}
#mainav li{display:inline-block; position:relative; margin:0 10px 0 0; padding:0;}
#mainav li:last-child{margin:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:10px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

nav ul, nav ol{margin:0; padding:0; list-style:none;}

/* Back to Top (navlogo)*/
.navlogo{width: 2em;}
#backtotop{z-index:200; opacity:.7;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}

/* margins */
.btmspace50{margin-bottom:50px;}

/* Maps */
.imaps{
	width:70%;
	height:450px;
	border-radius: 8px 8px 0 0;
	border:0;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:900px){
	.hoc{max-width:90%;}

	#topbar{}

	#header{}

	#mainav{}
	#mainav ul{}
	#mainav form{}

	#breadcrumb{}

	.container{}
	#comments input{}
	.pagination li{}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{}
}


@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#topbar .faico{margin:0 0 15px 0; text-align:center;}
	#topbar .faico li{display:inline-block; float:none; margin:0 2px 0 0;}

}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:750px)
{
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}


	.infolist li{width:50%;}
	.pruts{width:300px;height:180px;margin-bottom:-100px;}
	.bgded{background-size:100%;}
	#introblocks span{visibility:hidden;}
	#introblocks article.one_third{padding:15px;}
	#pageintro{padding: 40px 0;}
	.row2{background-color:rgb(29, 29, 29);}/*#353535*/
	.imaps{width:100%;height:320px;}
	.container.form{width:100%;}
	.row3 .header{}
	.row12 .header{margin: 0 50px 40px 50px;}
	.row1{background-image:url("../../img/ikzelf_1.jpg");}
}

@media screen and (max-width:450px){
	.infolist li{width: 100%;}
	#mainav li a{padding:10px 0;}
	.navlogo{width:0%;}
	#header #logo h1{font-size: 2em;}
	#header #logo p{font-size:1.2em;}
	.row11, .row12{padding:30px 0;}
	#pageintro .heading{font-size:2rem;}
	#introblocks {padding: 10px 0 0;margin-top: 0px;}
	
	

}