@font-face { 
    font-family: 'SourceSansProExtraLight';
    src: url('Source_Sans_Pro/SourceSansPro-Extralight.ttf');
}

@font-face { 
    font-family: 'SourceSansProLight';
    src: url('Source_Sans_Pro/SourceSansPro-Light.ttf');
}

@font-face { 
    font-family: 'SourceSansProSemibold';
    src: url('Source_Sans_Pro/SourceSansPro-Semibold.ttf');
}