@import "font.css";


body {
    font-family: 'SourceSansPro', sans-serif;
    margin: 0px;
    text-align: center;
    line-height: 1.5;
    background:white;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welkom {
    font-size: 70px;
    line-height: 7.55;
    font-variant: small-caps;
    color: white;
    margin-top: 40px;
    max-width: 900px;
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.3);
    z-index: 0;
}

.verkopen {
    color:white;
    position:absolute;
    margin:  380px auto;
    top: 0; bottom:0; left: 0; right:0;
    width: 140px;
    padding: 3px 0px 25px 0px;
    background: #DA676E;
    border-radius: 25px;
}

.man {
    width:30px;
    height: 40px;
}

.balkje {
z-index: 4;
height:60px;
background: #DA676E;
width:100%;
margin: 0;
position: fixed;
top: 0px;
left: 0px;
}

.mannetje {
    position: fixed;
    z-index: 5;
    right:3px;
    top:3px;
    padding: 5px 7px 2px;    
}

.huis{
    width:40px;
    height: 40px;
    padding: 5px;
    padding-bottom: 0;
}

.huisje{
    position: fixed;
    left: 7px;
    top:5px;
    z-index: 5;
}

.huisje:hover{
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
}

.mannetje:hover {
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
}

.pijl {
    z-index: 2;
    position: absolute;
    top:640px;
    left: 0;right: 0;
    margin: auto;
    padding-bottom: 15px;
}
button{
    position: absolute;
    background: transparent;
    color:white;
    border: none;
    top: 80px;
    left: 10px;
    z-index: 1;
}

.minhaClass{
    position:absolute;
    top: 0;
    margin: 0;
    left: 0;
    width:100%;
    z-index: -10;
    height:629px;
    bottom:30px;
    background: url("middel.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.zoeken {
border: 0.5px solid white;
background: #A4C1C5;
width: 200px;
height: 26px;  
border-radius: 25px;
position: absolute;
top: 0; bottom:0; left: 0; right:0;
margin: 340px auto auto;
color: white;
font-family: 'SourceSansProExtraLight';
font-style: italic;
text-align: left;
padding-left: 15px;
padding-top: 3px;
}

.container {
top:50px;
max-width: 100%;
width: 480px;
color:black;
font-size: 16;
position: relative;
background: white;
margin: 0 auto 100px;
border-radius:25px 25px 0 0;
padding: 0;
z-index: 0;
}

.ontdek {
color: white;
padding:120px;
background: url(middel.png)no-repeat center center;
background-size: 100%;
}

.grotetitel {
    font-size: 25px;
    color:rgba(0,0,0,.9);
    text-align: left;
    font-variant: small-caps;
}

.parijs{
    background: url(parijs.jpg)no-repeat center center;
    background-size: 100%;
    margin-bottom: 10px;
}

.michael{
    background: url(michael.jpg)no-repeat center center;
    background-size: 100%;
    margin-bottom: 10px;
}

.titel {
    font-size: 20px;
    padding: 20 0 0;
    text-align: left;
    color:#DA676E;
    margin:20px 0 2px;
    font-style: italic;
    margin-left: 15px;
}

.text {
    font-size:13px;
    line-height: 1,5;
    text-align: left;
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 3em;
    max-height: 6em;
    white-space: pre-line;
}

.textsubtiel{
    color:rgb(125,125,125);
    line-height: 1;
    text-align: left;
    font-family: "SourceSansProExtraLight";
}

.lijn{
    width: 100%;
    height:1.5px;
    margin: 0 0 10px 0;
    background:#DA676E;
}

.ga{
    float:right;
    background:#DA676E;
    padding: 0 10px;
    border-radius: 15px;
    color:white;
    margin-top: 5px;
    text-decoration: none;
}


.roze{
    margin: 0px auto;
    background:#FFE5E5;
    width: 520px;
    max-width: 100%;
    height: 660px;
    position: relative;
    padding: 0;
    text-align: left;
}

.hoewerkt{
    max-width: 500px;
    margin: 10px 15px;
    padding: 0;
    font-size: 16;
    position: absolute;
    padding-top: 10px;
}

.textroze{
    margin-left: 50px;
    margin-top: 7px;
    font-size: 13px;
}

.vetroze {
    font-size: 14px;
    color: #DA676E;
    font-variant: small-caps;
    font-style: italic;
}

.zwartetitel {
    font-size: 22px;
    margin-top: 20px;
    font-weight: lighter;
}

.verk {
padding: 3px 10px;
background: #DA676E;
border-radius: 25px;
color:white;
font-weight: lighter;
font-size: 12px;
text-align: center;
max-width: 70px;
margin: 32px auto 20px;
text-decoration: none;
}

.overons {
    margin-top: 25px;
    margin-bottom: -25px;
    text-align: center;
}

.zwart {
background-color: rgb(26, 26, 26);
height: 300px;
width: 520px;
max-width: 100%;
position: relative;
margin: -40px auto;
padding: 0;
font-family: 'SourceSansProExtraLight';
}

.voetul1 {
color:white;
text-align: left;
margin-left: 0px;
margin-top: 10px;
font-variant: small-caps;
font-size: 13px;
}

ul.icons li{
    display:inline;
    color:white;
    list-style: unset;
    margin: 8px;
}

.scrollup{
 background:#DA676E;   
 position: relative;
 max-width: 100%;
 width: 520px;
 height: 40px;
 margin: auto;
}
.scroll{
    display: hidden;
    width: 20px;
    margin-top: 15px;
}

.voetul2 {
color:white;
text-align: right;
margin-right: 20px;
font-variant: small-caps;
font-size: 13px;
margin-top: -130px;
margin-bottom: 25px;
}

.zwarttitel {
color:white;
margin-top: 20px;
margin-left: 20px;
font-weight: normal;
font-size: 28px;
text-align: left;
}


.marge{ 
    margin-top: 120px;
    margin-right: 20px;
    color: black;
    text-align: right;
    font-family: 'SourceSansProSemibold';
}

.margetop{
    margin-top: 0;
}


.categorie {
    padding:50px;
    background-color:rgb(200,200,200);
    max-width: 100%;
    margin:10px auto;
    font-size: 30px;
    color:black;
    text-decoration: none;
}

a div.categorie {
    text-decoration-style: none;
    background-image: url('./img/artblur.png') no-repeat center center;
}

.wit {
    max-width: 100%;
    width: 520px;
    margin: auto;
    margin-bottom: 50px;
    display:block;
}

ul {
    list-style: none;
}

p.grotetitel{
    margin-right: 10px;
}

.expopopu ul{
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.popu{
	padding: 5px;
    display: block;
    position: absolute;
	margin-top: -38px;
    margin-left: 20px;

	font-family: 'SourceSansProSemibold';
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	color: white;

	background: rgba(0,0,0, 0.6);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.datum{
    text-align: right;
    font-size: 17px;
    font-weight: bold;
}

.titelpopu{
    text-align: left;
    font-size: 23px;
    margin-bottom: -28px;
    margin-top: 50px;
}

.popufoto{
    width: 520px;
    height: 240px;
    max-width: 100%;
}

.voet{
    margin-top: 50px;
    color:#DA676E;
}

.login{
    color: #DA676E;
    border: 2px solid #DA676E;
    padding: 20px 25px 5px;
    border-radius: 25px;
    margin: 15px 35px;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
}

.inloggen{
    color:white;
    background-color: #DA676E;
    text-align: center;
}

.ww{
    text-align: center;
    color: #DA676E;
    text-decoration: underline;
}

.reg{
    font-size: 15px;
    padding: 7px 10px;
}